;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [
  [binaryage/oops "0.7.2"]
  [com.fulcrologic/fulcro "3.6.8"]
  ]

 :dev-http {8000 "public"}

 :builds
 {:main {:target     :browser
         :output-dir "public/js/main"
         :asset-path "/js/main"
         :modules    {:main {:init-fn sst-shipyard.app/init
                             :entries [sst-shipyard.app]}}
         :devtools   {:after-load sst-shipyard.app/refresh
                      :preloads   [com.fulcrologic.fulcro.inspect.preload
                                   com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
